.container {
  background-image: url('../assets/backgroundcombat.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  gap: 150px;

  .unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 7px;

    .mainInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        cursor: pointer;
        height: 234px;
        width: 170px;
        object-fit: cover;
        border-radius: 100px;
        padding: 5px;
        border: 2px solid var(--border-color);
        background-color: black;
      }
    }

    .extra {
      position: relative;
      .stats {
        display: flex;
        gap: 10px;
        justify-content: center;

        span {
          align-items: center;
          display: flex;
          flex-direction: column;

          img {
            padding: 2px;
            height: 35px;
            width: 35px;
          }
        }

        .affected {
          color: #ff0000;
        }
      }

      .skills,
      .potions {
        display: flex;
        width: 100%;
        justify-content: center;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          position: relative;

          img:first-child {
            cursor: pointer;
            border: 1px solid #5c4848;
            border-radius: 0px;
            padding: 5px;
            height: 60px;
            width: 60px;
          }

          img:last-child {
            cursor: pointer;
            border: 1px solid #5c4848;
            padding: 5px;
            height: 35px;
            width: 35px;
          }
          .skillSelected {
            border: 2px solid #fff;
          }
        }
      }
      .potions {
        position: absolute;
        bottom: -70%;
      }
    }
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .container {
    flex-direction: column;
    gap: 30px;

    .unit {
      flex-direction: row;

      .mainInfo {
        img {
          height: 180px;
          width: 180px;
        }
      }

      .extra {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .stats {
          span {
            img {
              height: 40px;
              width: 40px;
            }
          }
        }

        .skills,
        .potions {
          display: flex;
          width: 100%;
          justify-content: center;
        }
        .potions {
          position: relative;
          bottom: 12%;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 30px;

    .unit {
      flex-direction: row;
      justify-content: space-around;
      width: 80%;

      .mainInfo {
        img {
          height: 240px;
          width: 240px;
        }
      }

      .extra {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .stats {
          span {
            img {
              height: 43px;
              width: 43px;
            }
          }
        }

        .skills,
        .potions {
          display: flex;
          width: 100%;
          justify-content: center;

          div {
            img:first-child {
              cursor: pointer;
              border: 1px solid #5c4848;
              border-radius: 0px;
              padding: 5px;
              height: 65px;
              width: 65px;
            }

            img:last-child {
              cursor: pointer;
              border: 1px solid #5c4848;
              padding: 5px;
              height: 40px;
              width: 40px;
            }
          }
        }
        .potions {
          position: relative;
          bottom: 7%;
        }
      }
    }
  }
}
