.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
  gap: 10px;
  border: 2px solid var(--border-color);
  background-color: #000;
  padding: 10px;

  .portrait {
    align-self: center;
    width: 140px;
    height: 140px;
    border: 2px solid #393837;
    border-radius: 100px;
    transition: 0.1s;
    border-radius: 100px;
    padding: 7px;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    button {
      min-height: 30px;
      width: 100%;
      margin: 2px;
      background: transparent;
      padding: 5px;
      border: 1px solid hsla(0, 2%, 30%, 0.8);
      border-radius: 10px;
    }

    button:hover {
      border: 1px solid hsl(35, 17%, 68%);
    }
  }

  .dialogBox {
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 85%;
    max-height: 200px;
    text-align: left;
    border: 2px solid hsla(0, 2%, 30%, 0.8);
    overflow: auto;
    position: relative;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.4rem;
    white-space: pre-wrap;
  }

  .inventory {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--border-color);
    padding: 10px;
    width: 85%;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      button {
        font-size: 1rem;
      }

      img {
        border: 2px solid var(--border-color);
        border-radius: 100px;
        padding: 5px;
      }

      img:first-child {
        height: 50px;
        width: 50px;
      }

      img:last-child {
        cursor: pointer;
        height: 40px;
        width: 40px;
      }
    }
  }
}

.dialogNicolai {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 20px;
  background-color: #000;
  width: 500px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;

  button {
    min-height: 30px;
    width: 100%;
    margin: 2px;
    background: transparent;
    padding: 5px;
    border: 1px solid hsla(0, 2%, 30%, 0.8);
    border-radius: 10px;
  }

  img {
    border: 2px solid var(--border-color);
    border-radius: 100px;
    padding: 10px;
    height: 200px;
    width: 200px;
  }

  .dialogBox {
    span {
      font-family: 'Cinzel', serif;
      font-size: 1.1rem;
    }
    
    p {
      font-family: 'Cormorant Upright', serif;
      font-size: 1.2rem;
    }
  }
}
